.sidebar {
    width: 110px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    padding: 20px 0;
    background-color:/* #f8f9fa*/black;
    border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
    padding: 12px 20px;
    color: whitesmoke;
    transition: all 0.3s;
}

.sidebar .nav-link>img {
    filter: brightness(30%);
}
.sidebar .nav-link>img:hover {
    filter: brightness(100%);
}

.company-name {
    padding: 15px 20px;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
    color: green;
    position: relative;
}


#logo-new{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#user-menu{
    position: relative;
    top: 124px;
}
