#body{
    background: rgba(0, 0, 0, 0.84);
}
#login{
    background: rgba(0, 0, 0, 0.31);
    width: 60%;
    height: 70%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    border-radius: 2%;
}
#login-form{
    width: 65%;
    height: 45%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/*#password-div{*/
/*    position: absolute;*/
/*}*/

#login-button,#signup-button{
    background: rgb(59, 228, 119);
    border-color: rgb(59, 228, 119);
    color: black;
    margin: 1%;
}
#button-div{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5vh;
}

