#body{
    background: rgba(0, 0, 0, 0.84);
}
#login{
    background: rgba(0, 0, 0, 0.31);
    width: 60%;
    height: 70%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    border-radius: 2%;
}
#login-form{
    width: 45%;
    height: 45%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/*#password-div{*/
/*    position: absolute;*/
/*}*/